@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to the KBS Project</h1>

<p>
    This is a university project about Knowledge-Based Systems (KBS). The project is hosted on GitHub, and you can find the repository here: 
    <a href="https://github.com/ccarranzah/Asesor-Financiero-Inteligente-Personal" target="_blank">Asesor Financiero Inteligente Personal</a>.
</p>

<p>
    Special thanks to the <a href="https://github.com/NRules/NRules/tree/develop" target="_blank">NRules library</a> for providing the rule engine that powers this project.
</p>